.layout {
  display: grid;
  width: 100%;
  margin-top: 2rem;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem;
  margin-bottom: 2rem;

  .cards {
    overflow: hidden;
    box-sizing: border-box;
    border-top: 0.5rem solid var(--color-primary);
    border-radius: 0.5rem;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    align-items: center;
    box-shadow: 0.2rem 0.2rem 1rem -0.5rem rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.2s ease-in;
    white-space: nowrap;
    & > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &:hover {
      box-shadow: 0.6rem 0.6rem 1.6rem -0.5rem rgba(0, 0, 0, 0.6);
    }

    .cost {
      display: flex;
      align-items: center;
      width: 100%;

      .price {
        font-weight: 700;
        font-size: 2rem;
      }

      .discount {
        background: var(--color-tertiary);
        color: var(--color-primary);
        font-weight: 700;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        margin-left: 1rem;
      }
    }

    .oldPrice {
      font-weight: 500;
      font-size: 1.6rem;
      color: var(--dark-grayish-blue);
      text-decoration: line-through;
      align-self: flex-start;
    }

    img {
      border-radius: 0.5rem;
      width: 100%;
      padding-bottom: 2.5rem;
      &:hover {
        cursor: pointer;
      }
    }

    p {
      align-self: flex-start;
      font-size: 1.6rem;
    }
  }
}

.categoryContainer {
  margin-top: 5rem;
  width: 92%;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  box-shadow: 0.2rem 0.4rem 2rem -0.2rem rgba(0, 0, 0, 0.6);
  border: 0.2rem solid rgba(255, 255, 255, 0.864);
  border-radius: 0.8rem;
  background-color: rgb(255, 255, 255);
}

.genderSelect {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  padding: 2rem;
  align-items: center;
  font-size: 1.3rem;
  height: 4rem;

  color: var(--dark-grayish-blue);
  font-weight: bolder;

  label {
    padding-left: 0.5rem;
  }

  label:hover,
  input:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: black;
}

.relative {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interesction {
  height: 10px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: -1;
  bottom: 40rem;
}

.filter-container {
  display: flex;
  margin-top: 2rem;
  margin-right: 1rem;
  width: 100%;
  justify-content: flex-end;
}

.filter-btn {
  padding: 1rem 2rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  font-size: 1.6rem;

  &:hover {
    cursor: pointer;
    filter: opacity(0.75);
  }
}

.dropdown {
  position: absolute;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  box-shadow: 0.2rem 0.2rem 1rem -0.5rem rgba(0, 0, 0, 0.6);
  background-color: white;
  border: 1px solid #f6f6f6;

  span {
    cursor: pointer;
    padding: 1rem 2rem;

    &:hover {
      background-color: #f6f6f6;
    }
  }
}

@media (max-width: 1500px) {
  .layout {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1350px) {
  .layout {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1200px) {
  .layout {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .layout {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .layout {
    grid-template-columns: repeat(1, 1fr);
  }
}
