.layout {
  display: grid;
  width: 100%;
  margin-top: 2rem;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem;
  margin-bottom: 2rem;

  .cards {
    overflow: hidden;
    box-sizing: border-box;
    border-top: 0.5rem solid var(--color-primary);
    border-radius: 0.5rem;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    align-items: center;
    box-shadow: 0.2rem 0.2rem 1rem -0.5rem rgba(0, 0, 0, 0.6);
    white-space: nowrap;
    & > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    .cost {
      display: flex;
      align-items: center;
      width: 100%;

      .price {
        font-weight: 700;
        font-size: 2rem;
      }

      .discount {
        background: var(--color-tertiary);
        color: var(--color-primary);
        font-weight: 700;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        margin-left: 1rem;
      }
    }

    .oldPrice {
      font-weight: 500;
      font-size: 1.6rem;
      color: var(--dark-grayish-blue);
      text-decoration: line-through;
      align-self: flex-start;
    }

    img {
      border-radius: 0.5rem;
      width: 100%;
      padding-bottom: 2.5rem;
      &:hover {
        cursor: pointer;
      }
    }

    p {
      align-self: flex-start;
      font-size: 1.6rem;
    }
  }
}

.filterNav {
  display: flex;
  width: 100%;
  height: 6rem;
  margin-top: 2rem;
  justify-content: space-around;

  .filters {
    width: 40%;
    display: flex;
    flex-direction: row;
  }

  .filterContainer {
    display: flex;
    width: 70rem;
    justify-content: space-evenly;
  }

  .filterDiv {
    display: flex;
    position: relative;
    justify-content: center;
  }

  .filter-button {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 13.5rem;
    height: 4rem;
    background: linear-gradient(135deg, #ff7a14 60%, #4a4745 50%);
    color: white;
    svg {
      fill: white;
    }

    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }

  .sortContainer {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .sortContainer span {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.6rem 0.4rem 1rem -0.5rem rgba(0, 0, 0, 0.6);
    width: 12rem;
    height: 4.6rem;
    -webkit-user-select: none;
    border: 0.14rem solid var(--color-primary);
    user-select: none;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 0.7rem;

    &:hover {
      cursor: pointer;
      box-shadow: 0.9rem 0.6rem 1rem -0.5rem rgba(0, 0, 0, 0.6);
      margin-right: 0.2rem;
    }
  }
}

.categoryContainer {
  margin-top: 5rem;
  width: 92%;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  box-shadow: 0.2rem 0.4rem 2rem -0.2rem rgba(0, 0, 0, 0.6);
  border: 0.2rem solid rgba(255, 255, 255, 0.864);
  border-radius: 0.8rem;
  background-color: rgb(255, 255, 255);
}

.genderSelect {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  padding: 2rem;
  align-items: center;
  font-size: 1.3rem;
  height: 4rem;

  color: var(--dark-grayish-blue);
  font-weight: bolder;

  label {
    padding-left: 0.5rem;
  }

  label:hover,
  input:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: black;
}

.relative {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interesction {
  height: 10px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: -1;
  bottom: 40rem;
}

.hideModal1 {
  display: none;
}

.hideModal2 {
  display: none;
}
.hideModal3 {
  display: none;
}
.hideModal4 {
  display: none;
}

@media (max-width: 1500px) {
  .layout {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1350px) {
  .layout {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1200px) {
  .layout {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .layout {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .layout {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 15rem;
  }
}
