.layout {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;

  .cards {
    box-sizing: border-box;
    border-top: 5px solid var(--color-primary);
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.6);
    & > *:not(:last-child) {
      margin-bottom: 15px;
    }

    .cost {
      display: flex;
      align-items: center;
      width: 100%;

      .price {
        font-weight: 700;
        font-size: 20px;
      }

      .discount {
        background: #ffefe2;
        color: var(--color-primary);
        font-weight: 700;
        padding: 5px 10px;
        border-radius: 5px;
        margin-left: 10px;
      }
    }

    .oldPrice {
      font-weight: 500;
      font-size: 16px;
      color: var(--dark-grayish-blue);
      text-decoration: line-through;
      align-self: flex-start;
    }

    img {
      border-radius: 5px;
      width: 100%;
    }

    p {
      font-size: 16px;
    }
  }
}
