.cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
  z-index: 10000;
  span {
    svg {
      transition: 0.2s;
      fill: var(--dark-grayish-blue);
      &:hover {
        fill: var(--color-black);
      }
    }
  }
  &-open {
    cursor: initial;
    user-select: text;
    box-shadow: 0.2rem 0.2rem 1rem -0.5rem rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    position: absolute;
    background-color: var(--color-white);
    border-radius: 1rem;
    width: 35rem;
    height: 25rem;
    margin-top: 32rem;
    display: flex;
    flex-direction: column;
    margin-right: 12.8rem;

    &--name {
      font-size: 1.5rem;
      padding: 2rem;

      width: 100%;
      align-self: flex-start;
      border-bottom: 0.1rem solid gray;
    }

    &--items {
      height: 100%;
      padding: 2rem;
      color: var(--dark-grayish-blue);
      display: flex;
      flex-direction: column;

      &--button button {
        width: 100%;
        height: 5rem;
        border-radius: 1rem;
        color: var(--color-white);
        background-color: var(--color-primary);
        border: none;

        &:hover {
          cursor: pointer;
          filter: opacity(0.75);
        }
      }
    }
  }
  &:hover {
    cursor: pointer;
  }

  &__item {
    display: flex;
    margin: 1rem 0 2rem 0;

    &--imageContainer img {
      width: 4rem;
      height: 4.5rem;
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1rem;

      &--bold {
        color: black;
        font-weight: bold;
        margin-left: 0.5rem;
      }
    }
  }
}
