.cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
  z-index: 10;

  &__container {
    position: relative;
  }

  span {
    svg {
      transition: 0.2s;
      fill: var(--dark-grayish-blue);
      &:hover {
        fill: var(--color-black);
      }
    }
  }
  &-open {
    cursor: initial;
    user-select: text;
    box-shadow: 0.2rem 0.2rem 1rem -0.5rem rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    position: absolute;
    background-color: var(--color-white);
    border-radius: 1rem;
    width: 35rem;
    min-height: 25rem;
    height: fit-content;
    top: 5rem;
    display: flex;
    flex-direction: column;
    margin-right: 12.8rem;

    &--name {
      font-size: 1.5rem;
      padding: 2rem;

      width: 100%;
      align-self: flex-start;
      border-bottom: 0.1rem solid gray;
    }

    &--items {
      padding: 2rem;
      color: var(--dark-grayish-blue);
      display: flex;
      flex-direction: column;

      .empty {
        align-self: center;
      }
    }
  }
  &:hover {
    cursor: pointer;
  }

  &__item {
    display: flex;
    margin: 1rem 0 2rem 0;
    align-items: center;
    position: relative;
    &--delete {
      align-self: flex-end;
      position: absolute;
      right: 0;
      top: 2rem;
      svg {
        transition: fill 0.2s ease-in;
        fill: var(--dark-grayish-blue);
      }
      &:hover {
        cursor: pointer;
        svg {
          fill: var(--color-black);
        }
      }
    }

    &--imageContainer img {
      width: 4rem;
      height: 4.5rem;
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1rem;

      &--bold {
        color: black;
        font-weight: bold;
        margin-left: 0.5rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .cart {
    margin-right: 3rem;
    position: unset;
    &-open {
      width: 90vw;
      left: 3vw;
      margin-top: 3rem;
    }
  }
}
