.nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2rem solid gray;
  height: 10rem;
  font-size: 1.6rem;
  div {
    display: flex;
    align-items: center;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;

    li {
      &:not(:last-child) {
        margin-right: 2rem;
      }
      &:first-child {
        margin-left: 6rem;
      }
      a {
        text-decoration: none;
        color: var(--dark-grayish-blue);
        padding: 3.3rem 1rem;
        &:hover {
          color: var(--color-black);
          border-bottom: 0.4rem solid var(--color-primary);
        }
      }
    }
  }
  img {
    height: 5rem;
    margin-left: 5rem;

    &:hover {
      border: 0.2rem solid var(--color-primary);
      border-radius: 50%;
    }
  }
}
