.checkout {
  display: flex;
}

.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.continue {
  background-color: #f6f6f6;
  padding: 2rem;
  margin: 2rem 0 0 2rem;
  width: 50rem;
  height: 35rem;
  border-radius: 15px;
  box-shadow: 0.2rem 0.2rem 1rem -0.5rem rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_price {
    text-align: center;
    font-size: 1.5rem;
    &--summed {
      font-size: 3rem;
      font-weight: bold;
    }
  }

  &-basket {
    background-color: #363a41;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 5px;
  }
}

.item {
  background-color: #f6f6f6;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 15px;
  box-shadow: 0.2rem 0.2rem 1rem -0.5rem rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    &--delete {
      svg {
        fill: var(--color-primary);
        transition: fill 0.2s ease-out;
        &:hover {
          cursor: pointer;
          fill: var(--color-secondary);
        }
      }
    }
  }

  &_detail {
    display: flex;
    justify-content: space-between;
    font-weight: 500;

    &--img {
      height: 8rem;
      border-radius: 5px;
    }

    &--price {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: end;
      color: var(--very-dark-blue);
    }

    &--total {
      &-amount {
        color: var(--color-black);
        font-size: 2rem;
        font-weight: bold;
      }
      &-price {
        font-size: 1.2rem;
        font-weight: normal;
        margin-top: 1rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  .checkout {
    flex-direction: column;
  }
  .continue {
    margin-left: 0;
    width: unset;
  }
}
