.left {
  display: flex;
  width: 50%;
  min-width: fit-content;
  align-items: center;
  height: calc(100vh - 102px);
}

.slider {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 50rem;
  justify-content: center;
  overflow: hidden;
  img {
    width: 50rem;
    border-radius: 2.5rem;
  }
}
