:root {
  --color-primary: hsl(26, 100: hsl(25, 100%, 94%) %, 55%);
  --color-primary-light: #ffcd9b;

  //////////////////////////////////////
  --very-dark-blue: hsl(220, 13%, 13%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  margin: 0 auto;
}

code {
  font-family: 'Kumbh Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
